{% extends "base.html" %}

{% block title %}Registrazione{% endblock %}

{% block content %}
<h2>Registrazione Account</h2>
<form method="post" action="{{ url_for('register_post') }}">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" required>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>

    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>

    <button type="submit">Crea Account</button>
</form>
{% endblock %}
